<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Estreller</title>
<link href="../css/reset.css" type="text/css" rel="stylesheet">
<link href="../css/reviewBase.css" type="text/css" rel="stylesheet">
</head>
<body>
    <header id="header">
   <div class="content-container">
   <h1 class="hidden">메인</h1>
   <nav id="main-menu">
      <h1 class="hidden">카테고리</h1>
      <ul>
      <li><a href="Category/Sports.html">Sports</a></li>
      <li><a href="Category/Movie.html">Movie</a></li>
      <li><a href="Category/Game.html">Game</a></li>
      <li><a href="Category/Book.html">Book</a></li>
      <li><a href="Category/Music.html">Music</a></li>
      <li><a href="Category/Fashion&Beauty.html">Fashion&Beauty</a></li>
      <li><a href="Category/Show&Concert.html">Show&Concert</a></li>
      <li><a href="Category/Food.html">Food</a></li>
      <li><a href="Category/Travel.html">Travel</a></li>
      <li><a href="Category/Electronics.html">Electronics</a></li>
      </ul>
   </nav>
    <nav id="search">
            <a href=""><img src="../images/search.png" alt="검색" /></a>
    </nav> 
    <nav id="new-write">
           <a href=""><img src="../images/new_write.png" alt="새글쓰기" /></a>
    </nav> 
    <nav id="logout">
           <a href=""><img src="../images/logout.png" alt="로그아웃" /></a>
    </nav> 
   <section>
      <h1 class="hidden">회원</h1>
         
         
          <nav id="profile">
            <a href="../mypage/MemberInfo.html"><img src="../images/faceimg.png" alt="프로필수정" /></a>
       </nav>
       <p><a href="" alt="마이페이지">I23412343124124312D님</a></p>
        <nav id="write">
           <a href=""><img src="../images/scrap.png" alt="스크랩" /></a>
       </nav> 
       <nav id="comment">
            <a href=""><img src="../images/comment.png" alt="댓글" /></a>
       </nav> 
       <nav id="like">
            <a href=""><img src="../images/like.png" alt="좋아요" /></a>
       </nav>
       <nav id="report">
            <a href=""><img src="../images/report.png" alt="신고하기" /></a>
       </nav> 
         
      
       
   </section>
    </div>
   </header>
  
   <div id="body">
   <div class="content-container">
      <main id="main">
      
         <h1 class="hidden">리뷰리스트</h1>
         
         
         <div id ="box1" class="hc vc">
         
         <nav id = "rating-menu">
            <h1 class ="hidden">별점메뉴</h1>
            <ul>
               <li><a href=""><img src="../images/5.png"
                     alt="별5개" /></a></li>
               <li><a href=""><img src="../images/4.png"
                     alt="별4개" /></a></li>
               <li><a href=""><img src="../images/3.png"
                     alt="별3개" /></a></li>
               <li><a href=""><img src="../images/2.png"
                     alt="별2개" /></a></li>
               <li><a href=""><img src="../images/1.png"
                     alt="별1개" /></a></li>
               
            </ul>
            
            <nav id ="category-form">
            <ul>
            <a href=""><img src="../images/food.png"
                     alt="음식사진" /></a>
            <a href=""><img src="../images/foodLetter.png"
                     alt="food" /></a>
            
            </ul>
            </nav>
            
         </nav>
         
         </div>
         
         <div id ="box2" class="hc2 vc2">
         <div id ="box2-1">
         
          </div>
          
          <div id ="box2-2">
         
          </div>
          
          <div id ="box2-3">
         
          </div>
          
       </div> 
       
       
       
       <div id ="box3" class="hc3 vc3" >
       
       
       </div>
         
          
      </main>   
   </div>
   </div>
   <div id="footer">
   </div>
</body>
</html>