@CHARSET "UTF-8";
.clearfix:after{
   content:".";
   clear:both;
   display:block;
   height:0px;
   visibility:hidden;
}
 .content-container 
{	
	position:relative;
	width:1277px;
	margin-left:auto; 
	margin-right:auto;
	
	/* opacity:0.5; */
	height:inherit;
} 

#join-header
{
	
	height:200px;
	background:white;
}
	.logo-center { 
		display: table; 
		width: 1277px; 
		height: 200px;  
	}
    .logo-center span
     { 
	     display: table-cell; 
	     text-align: center; 
	     vertical-align: middle; 
     }

		 

/* -------join body------------------------------ */

#body
{
   min-height:632px;
   border-top:5px solid #ffff80;
   margin-top:1px; 
   background:#c0c0c0;
   
   
}


		 #join-main
		 {
		 	display:block;
		    position:relative;
		  
		 }
			 #join-main>p{  /* 회원가입 문구 */
			 		position:absolute;
			 		top:20px;
					left:50px;
					color:#ffffff;
					font-family:"맑은 고딕",Arial,sans-serif;
					font-size:30px;
					font-weight:bold;
			 	
			 }
		  
       #box input{
            border:solid #ffffff;
             border-bottom:1px solid black;
             width:230px;
             color:#c0c0c0;
       }
       
        #box input[type='submit']{
            
             
             border:solid #400040;
             color:#400040;
             cursor:pointer;
             background: 0px;
             
       }
   
      
      #join-form input[type='submit']{
         text-indent:-999px;
         font-size:10px;
         cursor:pointer;
         border:0px;
         width:203px;
         height:62px;
         background:url("../../images/Join-button.png") no-repeat center;
         overflow:hidden;
      }
       
		 
		 
		 
		#box
		{		
		       position:relative;
		       background:#ffffff;
		       text-align: center;
		       overflow: auto;
		}	
		  .hc { width:400px; left:0; right:0; margin-left:auto; margin-right:auto; } /* 가로 중앙 정렬 */
  		  .vc { height:400px; top: 100px; bottom:0; margin-top:auto; margin-bottom:auto; } 	 
 			#agree
				{
				position:absolute;
				top:15px;
				left:20px;
				      
				}
				
				   

     
       
       
    