@CHARSET "UTF-8";

.clearfix:after{
   content:".";
   clear:both;
   display:block;
   height:0px;
   visibility:hidden;
}
.content-container 
{   
   position:relative;
   width:1250px; /* 헤더너비 */ 
   margin-left:auto; 
   margin-right:auto;
   
   /* opacity:0.5; */
   height:inherit;
}
.hidden{
   display:none;
}

body{

   font-family:돋움;
   font-size:11px;
   color:#979797;
}

#header
{
   height:70px;
   background:#e7e8eb; 
   
}

 #main-menu
{	
	/* width:750px; */
	height:inherit;
	table-layout: fixed;
 
	
}

#main-menu  tr th{
		
				
		font-family:"맑은 고딕",Arial,sans-serif;
         font-size:15px;
         padding-left:9px; /* 카테고리 간에 간격 */
         padding-right:9px;
         position:relative;

}

#main-menu  tr th:HOVER{
		
         background:#4949e6;
         position:relative;
         

}

 #main-menu tr th a{
            color:#fff;
            text-decoration:none;
              
}


   #login-form{
      position:absolute;
   /*    left:700px; */
      margin-left:750px; /* 로그인 위치 */
      top:10px;
   }
      #login-form label{   
         color:#4949e6;
         font-family:"맑은 고딕",Arial,sans-serif;
         font-size:12px;
         padding-left:10px;
      }
      #login-form input[type="email"],
      #login-form input[type="password"]{
         width:120px;
      }
      
      #login-form input[type='submit']{
         text-indent:-999px;
         cursor:pointer;
         border:0px;
         width:65px;
         height:30px;
         background:url("../images/main-login.png") no-repeat center;
         overflow:hidden;
      }

   #member-join{
      float:left;
      font-family:"맑은 고딕",Arial,sans-serif;
      font-size:12px;
      /* font-weight:bold; */
      /* padding-left:24px;
      padding-top:20px; */
      position:absolute;
      margin-left:1020px;
      top:45px;
   }
         #member-join a{
            color:#004080;
            text-decoration:none;
         }
         #member-join a:HOVER{
            text-decoration:underline;
         }
            
   #password-find{
      float:left;
      font-family:"맑은 고딕",Arial,sans-serif;
      font-size:12px;
      /* font-weight:bold; */
      /* padding-left:24px;
      padding-top:20px; */
      position:absolute;
      margin-left:1100px; /* 패스워드 위치 */
      top:45px;
   }
         #password-find a{
            color:#004080;
            text-decoration:none;
         }
         #password-find a:HOVER{
            text-decoration:underline;
         }
   #search{
   text-indent:-999px;
   cursor:pointer;
   border:0px;
   width:32px;
   height:30px;
   background:url("../images/search.png") no-repeat center;
   overflow:hidden;
   position:absolute;
   right:10px;
   top: 15px;
}

#select{
	border:solid #4949e6;
	height:35px;
	widht:100px;
	position:fixed;
	right:1140px;
	top:80px;
	z-index:1;
}

#search-btn{
	border:solid #fff;
	text-indent:-999px;
	background:url("../../images/search.png") no-repeat center;
	width:50px;
	height:50px;
	position:fixed;
	right:80px;
	top:70px;
	z-index:1;
}

#search-txt{
	border:solid #4949e6;
	background:#fff;
	color:#c0c0c0;
	width:1000px;
	height:30px;
	position:fixed;
	right:140px;
	top:80px;
	z-index:1;
}


/* input[type="text"]
{
	border:solid #fff;
	background:#fff;
    border-bottom:1px solid black;
    color:#c0c0c0;
}

input[type="submit"]
{
	border:solid #fff;
	text-indent:-999px;
	background:url("../../images/search.png") no-repeat center;
}*/
input[type="button"]
{
	border:solid #fff;
	text-indent:-999px;
	background:url("../../images/search-cancel.png") no-repeat center;
}

/* #visual
{
   height:70px;
   background:#808080;
} */
#body
{
	background:#ffffff;
   height:570px;
   
  /*  height:100%;
   width:100%; */
    background:url("../images/purStar.png") no-repeat center;  
   
  
}

#main p{
   
   display:block;
   font-family:"맑은고딕",Arial,sans-serif;
   color:#4949e6;
   font-size:80px;
   text-align:center;
   /* font-weight:bold; */
   
   padding-top:230px; /* 메인로고 밑에 글  */
  
}

#main p2{
	display:block;
	text-align:center;
	color:#b5b5f4;
	padding-top:10px; 
	font-size:15px;
		
}

/* 
#footer
{
   height:100px;
   background:black;
}

 */


