@CHARSET "UTF-8";

.clearfix:after{
   content:".";
   clear:both;
   display:block;
   height:0px;
   visibility:hidden;
}
.content-container 
{   
   position:relative;
   width:1300px; /* 헤더너비 */ 
   margin-left:auto; 
   margin-right:auto;
   
   /* opacity:0.5; */
   height:inherit;
}
.hidden{
   display:none;
}

body{

   font-family:돋움;
   font-size:11px;
/*    color:#979797; */
   color:white;

}

#header
{
   height:70px;
   background:#e7e8eb;
   
}

 #main-menu
{	
	/* width:750px; */
	height:inherit;
	table-layout: fixed;
 
	
}

#main-menu  tr th{
		
				
		font-family:"맑은 고딕",Arial,sans-serif;
         font-size:15px;
         padding-left:9px; /* 카테고리 간에 간격 */
         padding-right:9px;
         position:relative;
         font-color:pink;

}

#main-menu  tr th:HOVER{
		
         background:#4949e6;
         position:relative;

}

 #main-menu tr th a{
            color:#ffffff;
            text-decoration:none;
              
         }





	#profile{
	   position:absolute;
	   margin-left:830px;
	   top:10px;
	}

section>p a{
   display:inline-block;
   position:absolute;
   font-family:"맑은 고딕",Arial,sans-serif;
   font-size:11px;
   margin-left:830px;
   margin-top:-20px;
}
   section>p a{
      color:#000000;
      text-decoration:none;
   }
      section>p a:HOVER{
          text-decoration:underline;
      }
			   
			
			#write{
			   position:absolute;
			   margin-left:900px;
			   top: 23px;
			}
			#comment{
			   position:absolute;
			   margin-left:930px;
			   top: 23px;
			}
			#like{
			   position:absolute;
			   margin-left:960px;
			   top: 23px;
			}
			#report{
			
			   position:absolute;
			   margin-left:990px;
			   top: 23px;
			}
			#logout{
			
			   position:absolute;
			   right:140px;
			   top: 15px;
			}
			#new-write{
			   position:absolute;
			   right:90px;
			   top: 15px;
			}
			
			 #search{
			   position:absolute;
			   right:40px;
			   top: 20px;
			}
input[type="text"]
{
	border:solid #fff;
	background:#fff;
    /* border-bottom:1px solid black; */
    color:#c0c0c0;
}

input[type="submit"]
{
	border:solid #fff;
	text-indent:-999px;
	background:url("../../images/search.png") no-repeat center;
}
input[type="button"]
{
	border:solid #fff;
	text-indent:-999px;
	background:url("../../images/search-cancel.png") no-repeat center;
}





#visual
{
   height:70px;
   background:#808080;
}
#body .content-container
{
   margin-top:20px;   
   min-height:700px;
   width:900px;
   margin-bottom:10px;
   background:#c0c0c0;
}

.article-detail
{   
   width:900px;
/*    border-top: 2px solid #8CBA34; */
}
.article-detail-title
{   
   width:155px;
   text-align:center;
   float:left;
    font-weight:bold;
}

.article-detail-row
{
   height: 33px;
   line-height: 33px;
   border-bottom: 1px solid #E9E9E9;
   clear: both;
}
.article-detail-category{
/*    padding-top: 3px; */
   padding-left:20px;
   float:left;

}
.article-detail-category>select
{   
   width:100px;
   height: 28px;
}

.article-detail-data
{
   width:565px;
   text-indent: 15px;
   float:left;
}
.article-detail-category input[name="title"]{
   width:620px;
   height: 20px;
}

.article-content
{   
   clear:left;
   padding: 20px;
   border-bottom:1px solid rgb(233,233,233);
}

.article-detail textarea
{
   width:860px;
   min-height: 480px;
}
.article-comment input[type='submit']{
         text-indent:-999px;
         cursor:pointer;
         border:0px;
         width:78px;
         height:48px;
         background:url("../../images/save.png") no-repeat center;
         overflow:hidden;
         float:left;
        position:absolute;
         left:200px;
}
.btn-cancel{
   position:absolute;
   right:200px;
}

#footer
{
   height:100px;
   background:black;
}

