/* @CHARSET "UTF-8";
#header
{
	height:70px;
	background:#c0c0c0;	
}
#visual
{
	height:171px;
	background:#808080;
}
#body
{
	min-height:300px;
}
#footer
{
	height:100px;
	background:black;
} */